/data/
/.idea/
/keys.py
__pycache__/
/venv/
*.ipynb
.ipynb_checkpoints/
screens
.vscode/
/logs/
/frost/temperature_model.h5
/frost/precipitation_model.h5
/frost/precipitations.csv
/frost/temperatures.csv
